body{
  background:#020617;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
}

#overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  display:none;
}

.modal{
  position:fixed;
  background:#0f172a;
  color:white;
  padding:20px;
  border-radius:12px;
  width:260px;
  display:none;
}
